<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consult yas</title>
</head>
<body>
<form class="form-nhs" method="GET" th:action="@{/users/consult/by-cnp}" th:object="${consultDTO}">


    <div class="form-label-group">
        <input id="patient_cnp" name="patient_cnp" th:field="*{patient_cnp}" type="text" class="form-control">
        <span th:errors="*{patient_cnp}" th:if="${#fields.hasErrors('patient_cnp')}"></span>
        <label for="patient_cnp">Consult</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Get Consult</button>
</form>
</body>
</html>